
.quiz-wrapper {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 2.5rem 6rem ;
  border-radius: 24px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quiz-badge {
  background: #f3f4f6;
  color: #4b0b76;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 0.9rem;
}

.quiz-step {
  color: #4b0b76;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.quiz-question {
  font-size: 1.3rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 2rem;
}

.quiz-option-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.quiz-pill {
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 12px;
  border: 2px solid rgb(184, 141, 209);
  width: 100%;
  font-weight: 500;
  background: #f9fafb;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.quiz-pill:hover {
  background: #e0e7ff;
}

.quiz-pill.correct {
  background: #dcfce7;
  border-color: #10b981;
  color: #065f46;
}

.quiz-pill.wrong {
  background: #fee2e2;
  border-color: #ef4444;
  color: #991b1b;
}

.next-btn {
  margin-top: 2rem;
  background: #4b0b76;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(75, 11, 118, 0.3);
}

.next-btn:hover {
  background: #5c1a90;
}

@media screen and (max-width: 600px) {
  .quiz-container {
    padding: 2.5rem 4rem;
  }

  .quiz-option-group {
    grid-template-columns: 1fr;
  }

  .next-btn {
    width: 100%;
    padding: 12px;
  }
    
}
.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 3rem;
}
.loader {
  width: 60px;
  margin-bottom: 20px;
  aspect-ratio: 1;
  background: 
    linear-gradient(45deg,#60B99A 50%,#0000 0),
    linear-gradient(45deg,#0000 50%,#60B99A 0),
    linear-gradient(-45deg,#f77825 50%,#0000 0),
    linear-gradient(-45deg,#0000 50%,#f77825 0),
    linear-gradient(#554236 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite;
}
@keyframes l18{
  0%   {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
  25%  {background-position:0  100%,100%  0,50%  50% ,50% 50%,50% 50%}
  50%  {background-position:0  100%,100%  0,100% 100%,0   0  ,50% 50%}
  75%  {background-position:50% 50%,50% 50%,100% 100%,0   0  ,50% 50%}
  100% {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
}
