* {
  margin: auto;
  padding: 0;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #2f0175;
  color: #ffffff;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  padding-left: 5rem;

}
.fade-in {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@media (max-width: 768px) {
  body {
    padding-left: 0rem;
  }
}